.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;
  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;
  border: 1px solid #E4C652;
  border-radius: 10px;
  background: #EEDC94;
}
.fallback-message p { margin-bottom: 10px; }
.impress-supported .fallback-message { display: none; }

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: radial-gradient(ellipse at center, yellowgreen 0%, #000 100%);
}

.step {
  position: relative;
  width: 1200px;
  padding: 40px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;
}

.impress-enabled .step {
  margin: 0;
  opacity: 0.15;
  -webkit-transition: opacity 1s;
  -moz-transition:    opacity 1s;
  -ms-transition:     opacity 1s;
  -o-transition:      opacity 1s;
  transition:         opacity 1s;
}
.impress-enabled .step.active { opacity: 1 }

.slide {
  display: block;
  width: 1200px;
  height: 750px;
  color: white;
  text-shadow: 1px 1px 0px #000;
  font-size: 2em;
}
.slide h1 {
  font-weight: 900;
  font-size: 2em;
}
.slide.ord {
  background-color: #FFF;
  background: radial-gradient(circle at center, #FFF 75%, silver 100%);
  border: 3px solid #000;
  border-radius: 4px;
  color: #444;
  text-shadow: none;
}
.slide a { color: #FFF; }
.slide.demo {}

pre {
  text-shadow: none;
  font-size: 1em;
}

#intro {
  text-align: center;
  background: transparent;
  border: none;
  text-shadow: 0 0 3px #000;
  color: white;
}
#intro h1 {
  font-size: 5.5em;
  font-weight: 900;
}
#intro h3 {
  font-weight: 300;
  font-size: 4em;
}
ul li { list-style: outside square; }

#me {
  text-align: center;
  text-shadow: 1px 1px 0px #000;
}
#me h2 {
  font-size: 3.3em;
  font-weight: 500;
}
#me h3 {
  font-size: 2.3em;
  font-weight: 300;
}
